.middle {
  flex: 4;
  /* padding: 2.3rem 1.5rem; */
  border-right: 1px solid rgb(48, 47, 47);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
}
::-webkit-scrollbar {
  display: none;
}
.header {
  display: flex;
  color: rgb(170, 168, 168);
  font-size: 1.3rem;
  font-weight: 500;
}
.header div {
  margin: 0px 10px;
  cursor: pointer;
}
.header div:hover {
  color: white;
}
.link {
  text-decoration: none;
  color: inherit;
}
.active {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid white;
  color: white;
}
.activeL {
  text-decoration: none;
  color: inherit;
  color: white;
  font-size: 1.3rem;
}
.banner {
  /* position: relative; */
  object-fit: contain;
  background-repeat: no-repeat;
  margin-top: 3rem;
  border-radius: 5px;
}

.content {
  padding: 2rem;
  /* position: absolute; */
  width: 50%;
  bottom: 0;
}
.content div {
  margin: 10px 0px;
}
.inner-content {
  display: flex;
  font-size: 1.1rem;
  font-weight: 500;
}
.name {
  font-size: 2.5rem;
  font-weight: 700;
}
.description {
  letter-spacing: 1px;
}

.inner-content .vote {
  margin-right: 2rem;
  border: 2px solid white;
  padding: 1px 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns button {
  margin-right: 20px;
  margin-top: 0.5rem;
  outline: none;
  padding: 6px 20px;
  border-radius: 3px;
  border: none;
  font-size: 1.06rem;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}
.watch {
  background-color: rgb(167, 5, 5);
}
.watch span,
.add span {
  margin-left: 5px;
}

.add {
  background-color: rgb(14, 13, 13, 0.4);
}
.watch a {
  text-decoration: none;
  color: white;
}
.watch a:hover {
  color: black;
}
.watch:hover {
  color: rgb(167, 5, 5);
  background-color: gainsboro;
  color: black;
}
.add:hover {
  background-color: white;
  color: black;
}
